:root{
--light-purple:#d705f2;
--some-bluishcolor:#023e73;
--light-blue:#0378a6;
}


*{
    font-family: "Archivo Narrow",sanserif;
     margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;  
    background-color:var(--some-bluishcolor);
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
}
.logo{
color:var(--light-purple);
padding:8px 16px;
font-size:2.5rem;
}

img {
height:70px;
max-width: 100%;
}

.description{
    color: #fff;
    font-size:2rem;
    margin:.5rem ;
}
.main{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    ol{
        margin-left: 1rem;
    }

input[type="search"]{
    background-color:var(--light-blue);
    width:20rem;
    height:3rem;
    border:transparent;
    outline:none;
    font-size:1.2rem;
    color: #fff;
    border-radius:.5rem;
    padding:0.5rem 1rem;
    line-height: 1;
}

input::placeholder{
    color: #fff;
    text-align: center;
    line-height: 2;
    font-size:2rem;

}


form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type="submit"]{
    background-color:var(--light-blue);
    width:5rem;
    height:2rem;
    border:transparent;
    outline:none;
    font-size:1.2rem;
    color: #fff;
    border-radius:.5rem;
    padding:0.5rem;
    line-height: 1;
    margin-top: .5rem;
}

.rhyme-output{
    margin-top:.5rem;
    border: 2px solid #fff;
    /* height:15rem; */
    width: 25rem;
    background-color:var(--light-blue);
    border-radius: .5rem 1rem;
    display: flex;
    flex-direction:column;
    align-items:center;
    color:#fff;
    font-size:1.5rem;

}

.contact{
    margin: 1.5rem;
    /* border: 2px solid #fff; */
    height:2rem;
    width: 25rem;
    font-size:1.5rem;
    color:var(--light-purple);
    font-weight: bold;
    text-align: center;

}

.social {
width: 2rem;
height: 1.5rem;
}

.status {
  padding:0.2rem .5rem;
  min-width: 100px;
  border-radius: 20px;
  background-color: #eee;
  text-align: center;
  font-size: 1.5rem;
}

.status.online {
  border: 0.5rem solid #41a700;
  color: #41a700;
}

.status.offline {
  border: 0.5rem solid #f15c4f;
  color: #f15c4f;
}